package hub

templ waiting_room_screen(name string) {
    <div id="current_screen" hx-swap-oob="outerHTML">
        <h2>Hello, { name }...</h2>
        <br>
        <h1>Looking for rooms...</h1>
    </div>
}

templ waiting_for_player(name string) {
    <div id="current_screen" hx-swap-oob="outerHTML">
        <h2>Hello, { name }...</h2>
        <br>
        <h1>Waiting for second player...</h1>
    </div>
}
